*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: var(--button-primary);
    text-decoration: none;
}

body{
    --backgroud: #FAFAFA;
    --White: #FFFFFF;
    --black:#000000;
    --button-primary:#3c96ed;
    --border-primary: #e6e6e6;



    background: var(--backgroud);
    height: 100%;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}


#wrapper{
    height: 100vh;
}
 
#container{
    margin: 0 auto;
    min-height: 100%;
    width: 800px;
    display: flex;
    align-items: center;
}

.column{
    flex-grow: 1;
    width: 50%;
}
 
.left{
    background-image: url(insta/assets/main-foto.png);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-bottom: 50px;
}

.right{
    padding-left: 20px;

}

.login-panel{
    background: var(--White);
    border: 1px solid var(--border-primary);
    text-align: center;
    padding: 20px 0;
}

.logo-img{
    width: 175px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="password"], input[type="text"]{
    background: var(--White);
    border: 1px solid var(--border-primary);
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    font-size: 13px;
    width: 320px;
}
 
input[type="password"]::placeholder, input[type="text"]::placeholder{
    color: rgb(165, 164, 164);
}

input[type="password"]:focus, input[type="text"]:focus{
    outline: 0;
    border: 1px solid #a1a1a1;
}

input[type="submit"]{
    background: var(--button-primary);
    border: 0;
    border-radius: 4px;
    padding: 5px;
    width: 320px;
    height: 30px;
    color:var(--White);
    font-size: 16px;
    cursor: pointer;
}

.infobox{
    background: var(--White);
    height: 60px;
    border: 1px solid var(--border-primary);
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infobox p a{
    font-weight: bold;
    user-select: none;
}

.get-app-panel{
    margin-top: 20px;
    text-align: center;
}

.app-buttons{
    margin-top: 16px;
}
 
.app-buttons img{
    height: 40px;
    padding: 0 2px;
}

footer{
    text-align: center;
    height: 50px;
    margin-top: -40px;
}

footer a{
    color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 8px;
}

.text-small{
    font-size: 10px;
    font-weight: bold;
    color: grey;
    text-transform: uppercase;
    padding-left: 20px;
    display: inline-block;
}


#container-singup{
    margin: 0 auto;
    min-height: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
}

.message{
    margin: 10px 70px;
}

.message span{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #8e8e8e;
}
 
.cta-button{
    width: 320px;
    margin: 10px 0;
    height: 35px;
    background: var(--button-primary);
    color: var(--White);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}
    
.divisor-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.line{
    height: 1px;
    background-color: var(--border-primary);
    width: 35%;
}
 
.divisor-tag{
    font-weight: bold;
    margin: 0 2.5%;
    color: #8e8e8e;
    user-select: none;

}



@media (max-width:875px){
    .left{
        display: none;
    }

    #container{
        width: 70%;
    }

    .right{
        padding-left: 0;
    }
}

@media (max-width:560px){
    #container{
        width: 90%;
    }

    #container-signup{
        width: 90%;
    }

    input[type="text"], input[type="password"], input[type="submit"]{
        width: 85%;
    }

    .cta-button{
        width: 85%;
    }

    .message{
        margin: 10px 25px;
    }

}